div.container {
  color: white;
  background: black;
  /* transition-property: color, width, border-radius;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: .5s;
     */
}

/* .button {
  background-color: black;

  color:rgb(38, 0, 23);
  border: 2px solid rgb(255, 7, 177);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
} */
