*{
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  

.red{
background: rgb(90, 32, 32);
height: 344px;
color: aliceblue;
}
.green{
background-color: rgb(6, 59, 6);
color: beige;
}